@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
/* general */
:root {
  /* colors */
  --orange: hsl(26, 100%, 55%);
  --paleOrange: hsl(25, 100%, 94%);
  --veryDarkBlue: hsl(220, 13%, 13%);
  --darkGrayishBlue: hsl(219, 9%, 45%);
  --grayishBlue: hsl(220, 14%, 75%);
  --lightGrayishBlue: hsl(231, 21%, 94%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%); /* (with 75% opacity for lightbox background) */

  /* font-weights */
  --fontWeight700: 700;
}

.page-wrapper {
  width: 80%;
  margin: auto;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
}
.round-corners {
  border-radius: 8px;
}
button,
a {
  cursor: pointer;
}

/* header */
.header {
  width: 100%;
  border-bottom: 1px solid var(--grayishBlue);
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-flexbox {
  display: flex;
  align-items: center;
  position: relative;
}

.navbar-list {
  margin: 0;
  list-style-type: none;
  display: flex;
  padding: 0;
  padding-left: 30px;
}
.navbar-list > li > a:hover,
.navbar-list > li > a:active {
  border-bottom: 3px solid var(--orange);
}
.cart-button-and-profil-picture {
  display: flex;
  gap: 20%;
  padding-right: 20px;
}
.cart-button {
  border: none;
  background-color: transparent;
  padding-right: 20px;
}
.navbar-list > li {
  padding: 15px;
}
li > a {
  text-decoration: none;
  color: var(--darkGrayishBlue);
}

/* product pictures */
.main-container {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 90%;
  margin: 90px auto;
  padding-bottom: 2.5rem; /* Footer height */
}
.product-pictures-wrap {
  width: fit-content;
}
/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.desktop-product-picture {
  max-width: 400px;
  height: auto;
}
.product-pictures-container {
  max-width: 800px;
}
.slides {
  display: none;
}
.product-picture-active {
  display: block;
}
.transparent-buttons {
  border: none;
  background: transparent;
  height: fit-content;
  padding: 0;
}
.mobile-only {
  display: none;
}

.desktop-product-picture-thumbnail {
  width: 75px;
  height: auto;
  border: 3px solid var(--white);
}
.desktop-product-picture-thumbnail:hover {
  border: 3px solid var(--orange);
}
.thumbnail-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

/* Text */
.text {
  margin: auto 0;
}
.brand {
  color: var(--orange);
  font-weight: var(--fontWeight700);
  font-size: 16px;
  font-variant: small-caps;
}
h1 {
  font-weight: var(--fontWeight700);
  font-size: 42px;
  margin-top: 10px;
}
.product-description {
  color: var(--darkGrayishBlue);
  font-size: 16px;
  line-height: 25px;
}
.price-container {
  display: grid;
  gap: 10px;
  width: 30%;
  margin: 25px 0;
}
.actual-price {
  font-weight: var(--fontWeight700);
  font-size: 24px;
  grid-column: 1 / 2;
  grid-row: 1;
}
.discount {
  color: var(--orange);
  background-color: var(--paleOrange);
  font-weight: var(--fontWeight700);
  font-size: 14px;
  padding: 2px 8px;
  grid-column: 2 / 2;
  grid-row: 1;
  height: fit-content;
  margin-top: 2px;
}
.previous-price {
  color: var(--grayishBlue);
  font-weight: var(--fontWeight700);
  grid-column: 1 / 2;
  grid-row: 2;
  text-decoration: line-through;
}
.counter-add-to-cart {
  display: flex;
  flex-flow: row wrap; /*shorthand for flex-direction and flex-wrap*/
  justify-content: space-between;
  height: 45px;
  font-weight: var(--fontWeight700);
}
.counter {
  background-color: var(--lightGrayishBlue);
  width: 35%;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
}
.counter-value {
  padding: 5% 0;
}
.minus-button {
  padding: 3% 0 7% 0;
}
.plus-button {
  padding: 5% 0;
}
.add-to-cart-button {
  border: none;
  color: var(--paleOrange);
  background-color: var(--orange);
  font-weight: var(--fontWeight700);
  width: 57%;
  display: flex;
  justify-content: center; /* horizontal align */
  align-items: center; /* vertical align */
  gap: 10px;
}

/* footer */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
body {
  position: relative;
  min-height: 100vh;
}

footer {
  /* centered */
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem; /* Footer height */
}

@media (max-width: 400px) {
  .page-wrapper {
    width: 100%;
  }
  .desktop-only {
    display: none;
  }
  .mobile-only {
    display: block;
  }
  /* header */
  .header {
    border: none;
    height: 50px;
  }
  .mobile-menu-logo {
    display: flex;
    position: absolute;
    top: 0;
  }
  .mobile-menu-button {
    border: none;
    background-color: transparent;
  }
  .dropdown-menu {
    display: flex;
    flex-direction: column;
  }
  .navbar-list,
  .navbar-list > li {
    display: block;
  }
  .navbar-list {
    padding-left: 0;
    display: none;
  }
  .active {
    display: block;
  }
  .cart-button-and-profil-picture {
    position: absolute;
    right: 0;
    top: 0;
  }
  /* main */
  .main-container {
    grid-template-columns: 100%;
    width: 100%;
    margin: 0;
  }

  /* pictures */
  .product-pictures-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  .desktop-product-picture {
    border-radius: 0;
  }
  .next-picture-button {
    right: 0;
  }
  .prev-picture-button,
  .next-picture-button {
    background-color: var(--white);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: absolute;
    margin-top: -200px;
  }

  /* text */
  .price-container {
    width: 100%;
    grid-template-columns: 30% 30% 30%;
    margin: 0;
  }
  .actual-price {
    grid-column: 1 / 3;
    width: fit-content;
  }
  .discount {
    grid-column: 2 / 3;
    width: fit-content;
  }
  .previous-price {
    grid-column: 3 / 3;
    grid-row: 1;
  }

  .counter-add-to-cart {
    height: fit-content;
    gap: 10px;
  }
  .counter {
    width: 100%;
    padding: 5px 10px;
    height: 45px;
  }
  .add-to-cart-button {
    width: 100%;
    height: 45px;
  }
}
